
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}



a {
  text-decoration: none;
}

body {
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Oswald', sans-serif; */

  
}

/* Navbar start */

nav {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  border-bottom: .2rem  solid #eee;
  height: 3rem;
  z-index: 999;
  flex-direction: column;
}

.top-nav {
  flex: 8;
  position: relative;
  width: 100%;
}

.top-nav h1 {
  position: relative;
  padding-top: .4rem;
  padding-left: .8rem;
  font-family: 'Righteous', cursive;
  margin: 0;
  font-size: 2rem;
}

/* burger */
.top-nav span {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: .51rem;
  padding-right: .8rem;
  padding-left: .8rem;
  padding-bottom: .5rem;
  border-top: .02rem solid #eee;
  border-left: .08rem solid #eee;
  border-right: .08rem solid #eee;
  border-bottom: none;
  cursor: pointer; 
}

.top-nav i {
  font-size: 2rem;
}
/* end of burger */

.nav-menu {
  width: 100%;
  background-color: white;
}

.menu-links {
  margin-top: .39rem;
  border-top: .1rem solid #eee;
  font-family: 'Oswald', sans-serif;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  width: 100%;
  
  display: none;
  
  flex-direction: column;
  height: 200vh;
  z-index: 998;
}

.menu-links li {
  padding-left: .8rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
  border-bottom: .1rem solid #eee;
  margin: 0;
  width: 100%;
}

.call-now {
  font-size: 1.3rem;
}

.menu-links a {
  color: black;
}


.call-now a {
  color: rgb(29, 90, 170, 0.6);
}

.call-now a:active {
  color: black;
}

.menu-links a:active {
  color: rgb(29, 90, 170, 0.6);
}


/* Header start here */



.banner-intro {
  position: relative;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

header {
  background-image: linear-gradient(rgba(29, 90, 170, 0.6),rgb(29, 90, 170, 0.6)), url(/img/cover.jpg);
  
  background-size: auto;

  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 36rem;

  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.header-title {
  position: relative;
  bottom: 1.8rem;
  font-size: 1.5rem;
  color: white;
  font-family: 'Oswald', sans-serif;
  
}

header h2 {
  position: relative;
  bottom: .3rem;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: white;

  font-size: 2.5em;

  text-transform: uppercase;
  letter-spacing: .02em;
  line-height: .9;
  max-width: 35rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.logo {
  position: relative;

  top: 1rem;

  height: 1em;
}

.header-description {
  position: relative;

  top: 2rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-family: 'Rubik', sans-serif;
  color: white;
 
  max-width: 46rem;
  font-weight: 300px;
  margin-left: 1rem;
  margin-right: 1rem;
}

header span {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  color: white;
}


@media (min-width: 750px) {

  
  header {
    background-size: cover;
    height: 100vh; 

    background-position: center center;
  }
  
  .header-title {
    bottom: 1.8em;
    
  }
  
  header h2 {
    font-size: 4em;

  }
  
  .logo {
    top: 2.4em;
  }
  
  .header-description {
    top: 5em;
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 950px){
  nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    
    background-color: white;
    width: 100%;
    border-bottom: .2em  solid #eee;
    height: 3em;
    z-index: 999;
    flex-direction: row;
  }
  
  .top-nav {
    flex: 1;
    position: relative;
    width: 100%;
  }
  
  .top-nav h1 {
    position: relative;
    padding-top: .2em;
    padding-left: .8em;
    font-family: 'Righteous', cursive;
    margin: 0;
    font-size: 2rem;
  }
  
  /* burger */
  .top-nav span {
    display: none;
  }
  /* end of burger */
  
  .nav-menu {
    position: relative;
    top: -.4em;
    flex: 1;
    width: 0;
  }
  
  .menu-links {
    margin-top: none;
    border-top: none;
    width: 50;
    justify-content: flex-end;
    display: flex !important;
    flex-direction: row;
    height: auto;
  }
  
  .menu-links li {
    padding-top: none;
    border: none;
    width: auto;
  }

  .call-now {
    margin-right: 2em;
    padding-right: 1em;
  }
}

/* About section */

main {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3.5rem;
}

.service-intro {
  font-family: 'Arvo', serif;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: .3rem .4rem #bebebe;
}

.service-description {
  margin-top: 2rem;

}

.service-logo {
  height: 10rem;
}

.services-content1 {
  display: flex;
  flex-direction: column;
}



.services-content2{

}